<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="headFragment">
    <!-- Head -->
    <head>
        <meta charset="utf-8">
        <link rel="icon" th:href="@{/images/favicon.ico}">
        <title>컬리 클론코딩</title>

        <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}"> <!--/* Swiper CSS */-->
        <link rel="stylesheet" th:href="@{/css/common.css}"> <!--/* 사이트 전역 CSS */-->

        <!--/* 페이지별 커스텀 css */-->
        <th:block layout:fragment="css"></th:block>
    </head>
</th:block>
</html>