<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="headFragment(title)">
    <!-- Head -->
    <head>
        <meta charset="utf-8">
        <link rel="icon" th:href="@{/images/favicon.ico}">

        <!-- 이 부분에 <title></title> 부분을 불러올 때 지정하고 싶음 -->
        <title th:text="'컬리 - ' + ${title}">컬리</title>

        <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}"> <!--/* Swiper CSS */-->
        <link rel="stylesheet" th:href="@{/css/common.css}"> <!--/* 사이트 전역 CSS */-->

        <!--/* 페이지별 커스텀 css */-->
        <th:block layout:fragment="css"></th:block>
    </head>
</th:block>
</html>